@model NotesZone.Web.ViewModels.BasketIndexViewModel


@{
   // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Basket.Lines)
        {
            <tr>
                <td align="center">@line.Quantity</td>
                <td align="left">@line.ItemContent.Title</td>
                <td align="right">@line.ItemContent.Price.ToString("c")</td>
                <td align="right">
                    @((line.Quantity * line.ItemContent.Price).ToString("c"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromBasket", "Basket"))
                    {
                        @Html.Hidden("itemContentID", line.ItemContent.Id);
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <button class="orange-button"><span>Remove</span></button>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">
                @Model.Basket.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue Download</a>
    @Html.ActionLink("Checkout Now", "Checkout")
</p> 