@model NotesZone.Web.Infra.ViewModels.AuthorProfileViewModel

<div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserProfile.FirstName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserProfile.LastName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.DisplayName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserProfile.DisplayName, new { @class = "form-control", @readonly = "readonly" })
            </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserProfile.Email, new { @class = "form-control",@readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.ProfessionalBackground, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserProfile.ProfessionalBackground, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserProfile.Remark, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.UserProfile.Remark, new { @class = "form-control", @readonly = "readonly"  })
        </div>
    </div>

</div>

